@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee:200,400');

body {
    background: #ffffff;
}

* {
    box-sizing: border-box;
}

.container {
    padding: 1em;
}

ul {
    list-style: none;
    padding: 0;
}

th, td {
    font-family: 'Mukta Mahee', sans-serif;
}

.title {
    margin-bottom: 30px;
    font-family: 'Mukta Mahee', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: black;
    text-align: center;
}

.wrapper-index {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
    padding: 27.5px;
    width: 900px;
    position: absolute;
    top: 50%;
    left: 22%;
    margin-top: -218px;
    margin-left: -50px;

}

.wrapper {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
    padding: 27.5px;
}

#contactForm {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        'name'
        'email'
        'company'
        'telephone'
        'message';
}

.required-field {
    grid-column: 1 / 2;
}

.submit-button {
    grid-column: 2 / 3;
}

.name-field {
    grid-area: name;
    grid-column: 1 / 3;
}

.email-field {
    grid-area: email;
    grid-column: 1 / 3;
}

.company-field {
    grid-area: company;
    grid-column: 1 / 3;
}

.phone-field {
    grid-area: telephone;
    grid-column: 1 / 3;
}

.message-field {
    grid-area: message;
    grid-column: 1 / 3;
}

.file-field {
    grid-area: company;
    grid-column: 1 / 3;
}

/* FORM STYLES */

.contact-us {
    margin: 0 0 30px;
    font-family: 'Mukta Mahee', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #5dc3f2;
}

.contact form {
    border: 0;
}

.contact form label {
    display: block;
}

.contact form p {
    margin: 0;
    font-family: 'Mukta Mahee', sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: rgba(74, 86, 96, 1);
}

.error-contact {
    margin: 0;
    font-family: 'Mukta Mahee', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: rgba(207, 0, 15, 1);
}

.contact form input,
.contact form textarea {
    font-family: 'Mukta Mahee', sans-serif;
    font-weight: 200;
    font-size: 14px;
    width: 100%;
    padding: .4em .8em;
    background: rgba(249, 250, 250, .5);
    border: 1px solid rgba(74, 86, 96, .1);
    border-radius: 2.5px;
    outline-color: #5dc3f2;
}

.contact-button {
    font-family: 'Mukta Mahee', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    background: #5dc3f2;
    width: 90px;
    height: 30px;
    border: 0;
    border-radius: 15px;
}

.button-new {
    font-family: 'Mukta Mahee', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    background: #79d87e;
    width: 150px;
    height: 30px;
    border: 0;
    border-radius: 15px;
}

.button-fa{
    font-family: 'Mukta Mahee', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    background: #79d87e;
    width: 60px;
    height: 30px;
    border: 0;
    border-radius: 15px;
}

.button-edit {
    font-family: 'Mukta Mahee', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    background: #5dc3f2;
    width: 90px;
    height: 30px;
    border: 0;
    border-radius: 15px;
}

.button-delete {
    font-family: 'Mukta Mahee', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    background: #cf613f;
    width: 90px;
    height: 30px;
    border: 0;
    border-radius: 15px;
}

.button-modal {
    font-family: 'Mukta Mahee', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    background: #f1a517;
    width: 110px;
    height: 30px;
    border: 0;
    border-radius: 15px;
}

.submit-button {
    align-self: center;
    justify-self: end;
}

.contact-button:hover,
.contact-button:focus {
    background: #49b0e7;
    color: #fff;
    outline: 0;
    transition: background-color 0.3s ease-out;
}

.btn-hover-new:hover,
.btn-focus-new:focus {
    background: #56af5b;
    color: #fff;
    outline: 0;
    transition: background-color 0.3s ease-out;
}

.btn-hover-edit:hover,
.btn-focus-edit:focus {
    background: #49b0e7;
    color: #fff;
    outline: 0;
    transition: background-color 0.3s ease-out;
}

.btn-hover-delete:hover,
.btn-focus-delete:focus {
    background: #c74923;
    color: #fff;
    outline: 0;
    transition: background-color 0.3s ease-out;
}

.btn-hover-modal:hover,
.btn-focus-modal:focus {
    background: #e49400;
    color: #fff;
    outline: 0;
    transition: background-color 0.3s ease-out;
}

.btn-hover-fa:hover,
.btn-focus-fa:focus {
    background: #56af5b;
    color: #fff;
    outline: 0;
    transition: background-color 0.3s ease-out;
}

.required-field {
    font-family: 'Mukta Mahee', sans-serif;
    font-weight: 200;
    font-size: 10px;
    color: rgba(74, 86, 96, 0.75);
    align-self: center;
    justify-self: start;
}

span {
    color: #5dc3f2;
}

.alert {
    margin-bottom: 1em;
    padding: 10px;
    background: #49b0e7;
    font-family: 'Mukta Mahee', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #fff;
    border-radius: 2.5px;
}

/* LARGE SCREENS */

@media (min-width: 500px) {
    #contactForm {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'name name'
            'email telephone'
            'message message'
            'file file';
    }

    .name-field {
        grid-area: name;
        grid-column: 1 / 3;
    }

    .email-field {
        grid-area: email;
        grid-column: 1 / 2;
    }

    .company-field {
        grid-area: company;
        grid-column: 2 / 3;
    }

    .phone-field {
        grid-area: telephone;
        grid-column: 2 / 3;
    }

    .message-field {
        grid-area: message;
        grid-column: 1 / 3;
    }

    .file-field {
        grid-area: file;
        grid-column: 1 / 3;
    }
}

.remove-image {
    display: none;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 10em;
    padding: 2px 6px 3px;
    text-decoration: none;
    font: 700 21px/20px sans-serif;
    background: #555;
    border: 3px solid #fff;
    color: #FFF;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 2px 4px rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}

.remove-image:hover {
    background: #E54E4E;
    padding: 3px 7px 5px;
    top: -11px;
    right: -11px;
}

.remove-image:active {
    background: #E54E4E;
    top: -10px;
    right: -11px;
}
